<h1><%= @deck.name + " " + @deck.profession.name %></h1>

<% if !!session[:user_id] && !(@deck.players.ids.include?(session[:user_id])) %>
   <form action="/decks/<%=@deck.id%>/add" method="post">
      <input type="submit" value="Add to Collection">
   </form>
<% end %>

<br>
<p><b>Class: </b><%= @deck.profession.name %></p>

<br>
<p><b>Archetype: </b><%= @deck.archetype %></p>

<br>
<p><b>Created by: </b><%= @deck.creator.username %></p>

<br>
<p><b>Import Code: </b><%= @deck.code %></p>

<br>
<p><b>Collected by:</b></p>
<% unless @deck.players.empty? %>
   <% @deck.players.each do |player| %>
      <li>
         <a href="/players/<%=player.slug%>"><%= player.username %></a>
      </li>
   <% end %>
<% end %>


<% if @deck.creator.id == session[:user_id]%>
<form action="/decks/<%=@deck.id%>/edit" method="post">
   <input type="submit" value="Edit Deck">
</form>
<br>
<br>
<form action="/decks/<%=@deck.id%>/delete" method="post">
   <input type="hidden" id="hidden" value="delete" name="_method">
   <input type="submit" value="Delete Deck" color="red">
</form>
<% end %>