<h1><%= @deck.name + " " + @deck.profession.name %></h1>

<br>
<p><b>Class: </b><%= @deck.profession.name %></p>

<br>
<p><b>Archetype: </b><%= @deck.archetype %></p>

<br>
<p><b>Created by: </b><%= @deck.creator.username %></p>


<% if @deck.creator.id == session[:user_id]%>
<a href="/decks/<%=@deck.id%>/edit">Edit</a>
<% end %>